<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>MercadoLiebre</title>

</head>

<body>
    <div class="barra">
        <header>
            <div class="box1">
                <div class="box2">
                    <img id='logo' src="/img/logo-mercado-liebre.svg">
                    <br>
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button> <i class="fas fa-search"></i></button>

                </div>
                <br>
                <div class="titulo-head">
                    <span><i align: center class="fa-solid fa-hand-holding-dollar"></i></span>
                    <span>Comprá en cuotas y sin tarjeta de crédito</span>
                </div>
            </div>
            <br>
            <nav class="enlaces">
                <ul type="none" class="lista1">
                    <li><a href="#">Ofertas </a></li>
                    <li><a href="#">Tiendas oficiales </a></li>
                    <li><a href="#">Vender </a></li>
                    <li><a href="#">Ayuda </a></li>
                </ul>

                <ul type="none" class="lista2">
                    <li><a href="#">Crea tu cuenta</a>
                        <i class="fa-regular fa-address-card"></i>
                    </li>


                    <li><a href="#"><span>Ingresa</span></a>
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </li>


                    <li><a href="#">Mis compras</a>
                        <i class="fa-sharp fa-solid fa-basket-shopping"></i>
                    </li>
                </ul>
            </nav>


            <div class="burger-menu">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
    </div>

    <img id='banner' src="/img/img-home-banner.webp">

    </header>

    <main>

        
    
    </main>



    <footer>
        <section>
            <div class="footer">
                <div class="divisor-footer">
                    <i class="fa-sharp fa-solid fa-credit-card" class="icono-footer"></i>
                    <h4>Pagá con tarjeta o en efectivo</h5>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                            puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="divisor-footer">
                    <i class="fa-solid fa-gift" class="icono-footer"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="divisor-footer">
                    <i class="fa-solid fa-user-shield" class="icono-footer"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>

            </div>

            <p class="copy-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>


        </section>

    </footer>
</body>



</html>